<style>
  .edit-form {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    margin: 50px;
    box-shadow: .5px .5px 4px #191919;
  }
</style>
  <div class="edit-form">
    <%= form_for @current_user, url: {controller: 'users', action: "update", id: @current_user.id}, html: {method: "put"} do |f| %>
      <div class="form-group">
      <%= f.text_field :first_name, value: @current_user.first_name, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.text_field :last_name, value: @current_user.last_name, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.email_field :email, value: @current_user.email, class: "form-control" %>
      </div>

      <div class="form-group">
      <%= f.label "Upload profile picture" %>
      <%= f.file_field :image_url, value: @current_user.image_url %>
      </div>
      <div class="form-group">
      <%= f.submit "Edit Me", class: "form-control btn btn-success" %>
      </div>
    <% end %>
    <div class="form-group">
    <%= button_to  "Delete This User?", user_path(@current_user), method: :delete, class: "btn btn-default" %>
    </div>
  </div>
</div>
