<div class="col-sm-8 col-sm-offset-2">

  <div class="show-user row">
    <div class="col-sm-4">
      <div class="pic-container">
        <img class="profile-pic" id="image" src="<%= @user.image_url %>">
      </div>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
      <br>
      <% if session[:id] != nil%>
        <a href="/users/<%= @current_user.id %>/edit" class="btn btn-default btn-sm">Edit Profile</a>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= render partial: "shoutouts/show" %>
    </div>
  </div>

</div>