<h3 class="header-center">Shoutouts</h3>
<ul id="shoutout_container">

<div class="shouttext">
  <% @shoutouts_all.each do |shoutout, i| %>
    <li class="singleshout"><strong><%= User.find_by_id(shoutout.user_id).first_name %>:</strong> <%= shoutout.content %>
    <%= form_for @like, :html => { :"data-shoutout-id" => shoutout.id, :"data-like-id" => shoutout.likes.order(created_at: :asc).last.id } do |f| %>

      <%= f.submit "Like", :type => :image, :src => "http://www.mricons.com/store/png/117103_34617_128_favorite_star_icon.png", class: "like-button" %>
        <span class="likenumber likes<%= shoutout.likes.order(created_at: :asc).last.id %> "><%= shoutout.likes.order(created_at: :asc).last.likes %></span>
    <% end %>

  <% end %>
  </li> 
  </div>
</ul>

<% if session[:id] != nil %>
<%= form_for @shoutout do |f| %>
<div class="form-group">
  <%= f.text_field :content, class: "form-control", placeholder: "Leave a shoutout" %>
</div>
<div class="form-group">
  <%= f.submit "Shoutout", class: "form-control btn btn-success" %>
  </div>
<% end %>
<% else %>
  <div class="text-center shout-hold">
    <h4>Want to leave a shoutout?</h4>
    <p><a data-toggle="modal" data-target="#signupModal" href="">SIGN UP</a> or <a data-toggle="modal" data-target="#loginModal" href="">LOG IN</a> now!</p>
  </div>
<% end %>


